@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Globalization;

@*
	Macro to list all child pages under a specific page in the content tree.

	How it works:
		- Confirm the startNodeId macro parameter has been passed in with a value
		- Loop through all child pages
		- Display a list of link to those pages, sorted by the value of the propertyAlias

	Macro Parameters To Create, for this macro to work:
	Alias:startNodeId     Name:Select starting page    Type:Content Picker
*@

@{ 
	var startNodeId = Model.MacroParameters["startNodeId"];
	var eventNode = Umbraco.TypedContent(startNodeId);
	var eventList = eventNode.Children.OrderBy(x => x.GetPropertyValue<DateTime>("date"));
}
@if (startNodeId != null)
{
	@* Get the starting page *@
	var startNode = Umbraco.Content(startNodeId);
	var selection = startNode.Children.Where("Visible");

	if (selection.Any())
	{
		<ul class="row fp-upcoming-events">
			@foreach (var item in eventList.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Take(3))
			{
				var name = item.Name;
				if (name.Length > 35)
				{
					name = name.Substring(0, 35) + "...";
				}
				var imageId = item.GetPropertyValue("image");
				var image = ""; ;
				if (item.HasValue("image"))
				{
					image = Umbraco.TypedMedia(imageId).Url;
				}
				var eventType = item.GetPropertyValue("eventType");

				<li class="col-md-4 col-sm-4 relative">
					<a href="@item.Url" style="background-image: url(@image?width=580&mode=crop&quality=80&format=jpg);">
					</a>
					<div class="event-info">
						<a href="@item.Url" class="name pull-left">@name</a>
						<span class="type pull-right text-right icon-@eventType"></span>
						<span class="location pull-left">@item.GetPropertyValue("location")</span>
						@if (item.HasValue("date"))
						{
							var date = item.GetPropertyValue<DateTime>("date").ToString("d. MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("is-is"));
							<span class="article-date pull-right text-right">@date</span>
						}
						<p class="text">@item.GetPropertyValue("summary")</p>
					</div>
				</li>
			}
		</ul>
	}
}