@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

	var image = Model.Content.GetPropertyValue("image");
	var imageUrl = image == null ? "/media/1009/defaultimage.png" : Umbraco.Media(image).Url;
	var authorID = Model.Content.GetPropertyValue("authorPicker");
	var authorName = "";
	var authorImageUrl = "";
	var facebookEvent = Model.Content.GetPropertyValue("facebookEventLink");

	if (string.IsNullOrEmpty("authorID")) {
		var author = Umbraco.TypedContent(Model.Content.GetPropertyValue("authorPicker"));
		authorName = author.GetPropertyValue("playerName").ToString();
		var authorImage = author.GetPropertyValue("playerPhoto");
		authorImageUrl = authorImage == null ? "/media/1009/defaultimage.png" : Umbraco.Media(authorImage).Url;
	}


	IPublishedContent nextNews = Model.Content.Next();
	IPublishedContent previousNews = Model.Content.Previous();
}

@section Header {
	@Html.Partial("_Header")
}
<div class="article">
	<div class="row">
		<div class="article-image" style="background-image: url(@imageUrl?width=1500&height=720&mode=crop); background-repeat: no-repeat; background-size: cover; background-position: 50%;">
			<span class="caption">@Model.Content.GetPropertyValue("imageCaption")</span>
		</div>
		<div class="col-md-6 col-md-push-6">
			<div class="row clearfix">
				<div class="content col-md-9 col-md-push-1 col-xs-10 col-xs-push-1">
					<h5>
						@if (Model.Content.HasValue("date")) {
							var date = Model.Content.GetPropertyValue<DateTime>("date").ToString("dd. MMM \"'\"yy", System.Globalization.CultureInfo.GetCultureInfo("is-is"));
							<strong class="pull-left">@date</strong>
						}
						@if (string.IsNullOrEmpty("authorID")) {
							<span class="pull-right author">
								<span class="author-image" style="background-image: url(@authorImageUrl);"></span>
								<strong>@authorName</strong>
							</span>
						}
					</h5>
					<h2>@Model.Content.Name</h2>
					@Model.Content.GetPropertyValue("content")
					@if (!string.IsNullOrEmpty("facebookEvent")) {
						<div class="facebook-event">
							<a href="@facebookEvent" target="_blank"><i class="icon-facebook"></i>Viðburðurinn á Facebook</a>
						</div>
					}
					<div>
						@Html.Partial("_social-share")
					</div>
					<div class="prev-next-news">
						@if (previousNews != null) {
							var previousImage = "http://www.fillmurray.com/67/67";
							if (previousNews.HasValue("image")) {
								var previousImageSrc = previousNews.GetPropertyValue("image");
								previousImage = Umbraco.TypedMedia(previousImageSrc).Url;
							}
							<a href="@previousNews.Url" class="previous-link">
								<span style="background-image: url(@previousImage);"></span>
								<em>@previousNews.Name</em>
							</a>
						}
						@if (nextNews != null) {
							var nextImage = "http://www.fillmurray.com/67/67";
							if (nextNews.HasValue("image")) {
								var nextImageSrc = nextNews.GetPropertyValue("image");
								nextImage = Umbraco.TypedMedia(nextImageSrc).Url;
							}
							<a href="@nextNews.Url" class="next-link">
								<em>@nextNews.Name</em>
								<span style="background-image: url(@nextImage);"></span>
							</a>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Footer {
	@Html.Partial("_Footer")
}